body {
  color: #1e212b;
  background: #dee5e5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BenchNine", sans-serif;
}
h1 {
  font-size: 4.5rem !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  line-height: 1.4em !important;
  letter-spacing: 2px !important;
  color: #fff;
}
h2 {
  font-size: 3.8rem !important;
  font-weight: 300 !important;
  line-height: 3.5rem !important;
    color: #0e9246;
      margin-bottom: 2rem !important;


}
h3 {
  font-size: 2.6rem !important;
  font-weight: 400;
  line-height: 2.5rem !important;
  color: #0e9246;
  margin-bottom: 1.5rem !important;
}

h4 {
  font-family: "Benne", serif;
  margin-bottom: 1rem !important;

  font-size: 1.8rem !important;
  font-weight: 600;
  line-height: 2rem !important;
}

h5 {
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  line-height: 2rem !important;
  letter-spacing: 1px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
}

li {
  font-family: "BenchNine", sans-serif;
  font-size: 1.8rem !important;
  color: #1e212b !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  text-transform: uppercase;
}

ul {
  background: #dee5e5;
  margin-bottom: 1.5rem !important;
  border: 1px solid #0e9246;
  padding: 2rem;
  border-radius: 4px;
}

@media only screen and (max-width: 800px) {
  ul {
    flex-direction: column;
  }
  li {
    margin-top: 1.5rem !important;
  }
}

p {
  font-family: "Benne", serif;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #606f7b !important;
  margin-bottom: 20px !important;
  letter-spacing: 1px;
  font-weight: 400;
}

a,
.navbar-link {
  font-family: "BenchNine", sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: #0e9246;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar-link:hover {
  text-decoration: none;
}

.sticky {
  position: sticky;
  top: 0;
}
.drop {
  font-weight: 300 !important;
}

.is-active {
  font-weight: 600 !important;
  font-size: 22px;
}

.rounded-borders {
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.home-enter-active,
.home-leave-active {
  transition: opacity 0.5s;
}
.home-enter,
.home-leave-active {
  opacity: 0;
}
.modal .modal-content {
  width: auto !important;
}
section container {
  padding-top: 0 !important;
}

.bkg-enter-active {
  transition: all 1.2s ease;
}

.bkg-enter, .bkg-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 1s ease;
}


.background {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-blend-mode: overlay;
}
